@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 360px;
  color: #272727;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.golden {
  @apply bg-yellow-500;
}

.gold {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #bd9c08 0%,
      #be8513 8%,
      #c08e21 30%,
      #b88c27 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #f1c54b 0%,
      #e0b849 8%,
      #d6ae40 25%,
      #c0932b 62.5%,
      rgb(145, 105, 14) 100%
    );
  transition: background-color 5s ease-in-out;
}

.gold:hover {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #f1c54b 0%,
      #e0b849 8%,
      #d6ae40 25%,
      #d6ae40 62.5%,
      #d6ae40 100%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #bd9c08 0%,
      #be8513 8%,
      #c08e21 30%,
      #b88c27 40%,
      transparent 80%
    );
}

.gold__text {
  background-image: radial-gradient(
      ellipse farthest-corner at right bottom,
      #776100 0%,
      #be8513 8%,
      #b67d01 30%,
      #815e0c 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #e09d00 0%,
      #ce8600 8%,
      #d6ae40 25%,
      #eca601 62.5%,
      #e09d00 100%
    );
  background-image: -webkit-radial-gradient(
      ellipse farthest-corner at right bottom,
      #bd9c08 0%,
      #be8513 8%,
      #b67d01 30%,
      #a78025 40%,
      transparent 80%
    ),
    -webkit-radial-gradient(ellipse farthest-corner at left top, #c59c15 0%, #ce8600
          8%, #d6ae40 25%, #eca601 62.5%, #b37d00 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-links a {
  padding-bottom: 2px;
}
